parameters:
  level: 8
  paths:
    - %currentWorkingDirectory%/src/

  checkGenericClassInNonGenericObjectType: false
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - '/Construct empty\(\) is not allowed\. Use more strict comparison/'
    - '/Casting to .+ something that''s already/'

  symfony:
    console_application_loader: %currentWorkingDirectory%/tests/console-application.php
