<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/bin/.phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertDeprecationsToExceptions="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="churn-tests">
            <directory>tests/Integration</directory>
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <php>
        <env name="SYMFONY_PHPUNIT_REMOVE_RETURN_TYPEHINT" value="1" />
    </php>
</phpunit>
